<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<md-card class="quiz-card" [ngSwitch]="step">
  <div *ngSwitchCase="'start'">
    <md-card-header class="center-content">
        <md-card-title><h2>Detect Repo Lang Quiz</h2></md-card-title>
    </md-card-header>
    <md-card-content class="center-content">
      <p class="quiz-description">
        One evening I was searching some repos, and go to facebook github.
        There was a repo called DelegatedRecoveryReferenceImplementation,
        and at first glance I guess, that this is a <strong>Java</strong> Code.
        So I've made this quiz, based on idea, that we can actually guess
        language name by repository url.
      </p>
      <p class="quiz-description">
        - How it works?
      </p>
      <p class="quiz-description">
          - Just grabs 10 trending repos last week from Github (:
      </p>
    </md-card-content>
    <md-card-actions class="center-content">
      <button md-button (click)="startQuiz()">Start Quiz</button>
    </md-card-actions>
  </div>
  <div *ngSwitchCase="'quiz'">
    <md-card-header class="center-content">
        <md-card-title><h2>{{quiz.questions[questionIndex].name}}</h2></md-card-title>
    </md-card-header>
    <md-card-content>
        <md-grid-list cols="2" rowHeight="2:1">
            <md-grid-tile 
              *ngFor="let choice of quiz.questions[questionIndex].choices"
            >
              <button
                md-button
                (click)="setUserAnswer(choice)"
                [class.incorrect-user-answer]="isIncorrectAnswer(choice)"
                [class.correct-answer]="isCorrectAnswer(choice)"
                [class.disabled-answer]="isDisabledAnswer(choice)"
                class="quiz-button"
              >
                {{ choice }}
              </button>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
    <md-card-actions class="center-content quiz-next-question">
        <button *ngIf="userAnswer" md-button (click)="goToNextQuestion()">Next Question</button>
    </md-card-actions>
  </div>
  <div *ngSwitchCase="'finish'">
    <md-card-header class="center-content">
      <md-card-title><h2>Detect Repo Lang Quiz</h2></md-card-title>
    </md-card-header>
    <md-card-content class="center-content">
        <div>Total score: {{ userScore }} / {{ quiz.questions.length }}</div>
    </md-card-content>
    <md-card-actions class="center-content">
      <button md-button (click)="startQuiz()">Again?</button>
    </md-card-actions>
  </div>
  <div *ngSwitchCase="'error'">
    <md-card-header class="center-content">
      <md-card-title><h2>Detect Repo Lang Quiz</h2></md-card-title>
    </md-card-header>
    <md-card-content class="center-content">
        <div>Cannot load questions for your (may be rate limited by Github :( )</div>
    </md-card-content>
    <md-card-actions class="center-content">
      <button md-button (click)="startQuiz()">Try again?</button>
    </md-card-actions>
  </div>
</md-card>
</div>